body{
    background: var(--cor4);
    background-attachment: fixed;

    .Header{
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            top: 0;
            left: 0;
            margin: 35px 100px 0 150px;
            .logo{
                img{
                    width: 150px;
                }
            }

            .toggle{
                display: none;
                visibility: hidden;
            }

            .menu{
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li{
                        margin: 0 12px;
                        a{
                            font-size: 14px;
                            font-weight: 400;
                        }
                        :first-child{
                            margin-left: 0;
                        }
                        
                        :last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .Home{
        width: 1200px;
        .container{
            width: 1200px;
            margin: 50px 150px;
            height: 500px;
        }
    }
}

@media (max-width: 992px){
    body.active{
        .Header{
            .container{
                .menu{
                    display: block;
                    visibility: visible;
                }
            }
        }
    }
    body{
        .Header{
            .container{
                .toggle{
                    display: flex;
                    flex-direction: column;
                    visibility: visible;
                    padding: 0.5rem 1rem;
                    border: none;
                    background: none;
                    cursor: pointer;
                    gap: 0.5rem;
                    span{
                        border-top: 1px solid;
                        width: 20px;
                        margin-left: 5px;
                        ::after{
                            position: relative;
                            content:'';
                            display: block;
                            width: 20px;
                            height:3px;
                            background: currentColor;
                            margin-top: 10px;
                            transition: 0.3s;
                        }
                    }
                }
                .menu{
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }

}