.NavBar{
    padding: 15px 0;
    background-color: #111111;

    ul{
        display: flex;

        a{
            color: #fff;
            transition: all .2s;

            &:hover{

            }
        }
    }
}